<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738149953279-rrissi3pc54rn3ahkpu27p88pio6hpd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738149953279-rrissi3pc54rn3ahkpu27p88pio6hpd7</string>
	<key>API_KEY</key>
	<string>AIzaSyBgvXwshi4QKhljrChTL2fjybg6fPDBogQ</string>
	<key>GCM_SENDER_ID</key>
	<string>738149953279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mohamed-Adel.WChat</string>
	<key>PROJECT_ID</key>
	<string>wchat-eb437</string>
	<key>STORAGE_BUCKET</key>
	<string>wchat-eb437.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738149953279:ios:f83844e3a85e37f52966ca</string>
	<key>DATABASE_URL</key>
	<string>https://wchat-eb437.firebaseio.com</string>
</dict>
</plist>